<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
	
    <section class="layout-content" layout:fragment="corpo">
     
        <div class="container" id="listagem" >
            <div class="navbar-header">
                <div style="right: 20px; position: absolute">
                    <a th:href="@{''(lang=pt)}"><img alt=""
                        th:src="@{/image/Brasil.gif}" style="width: 30px;" /></a> <a
                        th:href="@{''(lang=en)}"><img alt=""
                        th:src="@{/image/EUA.gif}" style="width: 30px;" /></a>
                </div>
                <h2><span th:text="#{rental.list.label}"></h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" border="1">
					<thead>
                        <tr>
                            <th>#</th>
                            <th th:text="#{rental.date.label}"></th>
                            <th th:text="#{rental.value.label}"></th>

                            <th sec:authorize="hasRole('CLIENT')" th:text="#{rental.company.label}"></th>
                            <th sec:authorize="hasRole('COMPANY')" th:text="#{rental.client.label}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rental : ${rentals}">
                            <td th:text="${rental.id}"></td>
                            <td th:text="${rental.date}"></td>
                            <td th:text="|R$ ${#numbers.formatDecimal(rental.value,2,2,'COMMA')}|"></td>

                            <td sec:authorize="hasRole('CLIENT')" th:text="${rental.company.name}"></td>
                            <td sec:authorize="hasRole('COMPANY')" th:text="${rental.client.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
	<a class="btn btn-primary mb-2" type="button"
        href="javascript:history.back()"><span th:text="#{previous.message}"></span></a>

    <a class="btn btn-primary mb-2" type="button"
        th:href="@{/home}"><span th:text="#{home.message}"></span></a>
</body>
</html>