<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	layout:decorate="~{fragments/layout}">

<head>
<title th:text="#{user.index.title}"></title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<h1 th:text="#{user.index.title}"></h1>
		<h1>
			<span th:text="#{home.hello}"></span>
		</h1>
		
		<a class="btn btn-primary mb-2" type="button" 
					th:href="@{/rentals/list}" th:text="#{rental.list.label}"></a>
					
		<sec:authorize access="hasRole('CLIENT')">
			<a class="btn btn-primary mb-2" type="button" th:href="@{/rentals/register}" th:text="#{rental.register.label}"></a>
		</sec:authorize>
					
		<a class="btn btn-primary" type="button" q
				href="javascript:history.back()"><span th:text="#{previous.message}"></span>
		</a>
	</div>
</body>
</html>