<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
	
    <section class="layout-content" layout:fragment="corpo">
     
        <div class="container" id="listagem" >
            <div class="navbar-header">
                <div style="right: 20px; position: absolute">
                    <a th:href="@{''(lang=pt)}"><img alt=""
                        th:src="@{/image/Brasil.gif}" style="width: 30px;" /></a> <a
                        th:href="@{''(lang=en)}"><img alt=""
                        th:src="@{/image/EUA.gif}" style="width: 30px;" /></a>
                </div>
                <h2><span th:text="#{company.list.label}"></h2>
            </div>
            <form method="get" th:action="@{/companies/list}" class="form-inline my-2 my-lg-0">
                <input type="text" name="city" class="form-control mr-sm-2" placeholder="Insert city">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>

            <div class="table-responsive">
                <table class="table table-striped" border="1">
					<thead>
                        <tr>
                            <th>#</th>
                            <th th:text="#{company.email.label}"></th>
                            <th th:text="#{company.name.label}"></th>
                            <th th:text="#{company.CNPJ.label}"></th>
                            <th th:text="#{company.city.label}"></th>
                            <th th:text="#{acao.label}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="locadora : ${locadoras}">
                            <td th:text="${locadora.id}"></td>
                            <td th:text="${locadora.email}"></td>
                            <td th:text="${locadora.nome}"></td>
                            <td th:text="${locadora.cnpj}"></td>
                            <td th:text="${locadora.cidade}"></td>
                            <td>
                                <a class="btn btn-info btn-sm" th:href="@{/locadoras/editar/{id}(id=${locadora.id})}" role="button"> 
                                    <span class="oi oi-brush" th:text="#{link.editar.label}" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger btn-sm" th:href="@{/locadoras/excluir/{id}(id=${locadora.id})}" role="button"> 
                                    <span class="oi oi-brush" th:text="#{link.excluir.label}" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
	<a class="btn btn-primary mb-2" type="button"
        th:href="@{/admin}"><span th:text="#{previous.message}"></span></a>
</body>
</html>