<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Gestão de Locadoras</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

	<th:block th:fragment="header">
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<div style="right: 20px; position: absolute">
						<a th:href="@{''(lang=pt)}"><img alt=""
							th:src="@{/image/Brasil.gif}" style="width: 30px;" /></a> <a
							th:href="@{''(lang=en)}"><img alt=""
							th:src="@{/image/EUA.gif}" style="width: 30px;" /></a>
					</div>
					<a class="btn btn-primary mb-2" type="button"
        				href="javascript:history.back()"><span th:text="#{previous.message}"></span>
					</a>

				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/}">Home</a></li>
					</ul>
				</div>
			</div>
		</nav>

	<h2><span th:text="#{company.register.label}"></h2>
	<section class="layout-content" layout:fragment="corpo">

		<div class="container" id="register">

			<div th:replace="~{fragments/alert}"></div>

			<form
				th:action="${company.id == null} ? @{/companies/save} : @{/companies/edit}"
				th:object="${company}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{company.email.label}" for="email"></label> 
						<input type="text" class="form-control" id="email"
							th:placeholder="#{company.email.label}"
							autofocus="autofocus" th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" required/>

						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{company.password.label}" for="password"></label> 
						<input type="text" class="form-control" id="password" th:field="*{password}"
							th:placeholder="#{company.password.label}" autofocus="autofocus"
							th:classappend="${#fields.hasErrors('password')} ? is-invalid" required/>
						
						<div class="invalid-feedback">
							<span th:errors="*{password}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{company.name.label}" for="name"></label> 
						<input type="text" class="form-control" id="name" th:field="*{name}"
							th:placeholder="#{company.name.label}" autofocus="autofocus"
							th:classappend="${#fields.hasErrors('name')} ? is-invalid" required />
							
						<div class="invalid-feedback">
							<span th:errors="*{name}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
                        <label th:text="#{company.CNPJ.label}" for="cnpj"></label> 
                        <input th:if="${company.id != null}" readonly type="text" class="form-control" id="cnpj" th:field="*{cnpj}"
                            autofocus="autofocus" placeholder="__. ___. ___/____-__"
                            />	
                        <input th:unless="${company.id != null}" type="text" class="form-control" id="cnpj" th:field="*{cnpj}"
                            autofocus="autofocus" placeholder="__. ___. ___/____-__"
                            th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid" 
                            data-mask="000.000.000-00" data-mask-reverse="true"  title="#{company.cnpj.invalid}"  required/>
                        <div class="invalid-feedback">
                            <span th:errors="*{cnpj}"></span>
							<span th:if="${#fields.hasErrors('cnpj')}"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
						<label th:text="#{company.city.label}" for="city"></label> 
						<input type="text" class="form-control" id="city" th:field="*{city}"
							th:placeholder="#{company.city.label}" autofocus="autofocus"
							th:classappend="${#fields.hasErrors('city')} ? is-invalid" required/>
							
						<div class="invalid-feedback">
							<span th:errors="*{city}"></span>
						</div>
					</div>
					
                    
					<div class="form-group col-md-6">
						<label th:text="#{company.role.label}" for="role"></label> 
						<select id="role" class="form-control" th:field="*{role}"
							th:classappend="${#fields.hasErrors('role')} ? is-invalid" required>
							<option value="ROLE_LOCADORA">ROLE_LOCADORA</option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{role}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.save.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>